.toptitle{
	font-size:1.3rem;
	text-decoration:none;
	font-weight:bold;
}

.choose{
	margin-top:30px;
	margin-bottom:0px;
}

.nav-link{
	padding: .25rem .5rem .25rem .5rem;
}

.rows{
	color: #000;
	font-weight: bold;
}

a{
	text-decoration:none;
}
